<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="UpdateFilePath" value="D:\Projects\POS\Source\POS\BIN\Debug\UPDATE\" />
    <add key="CashdrawerPath" value="c:\escapes.txt" />
    <add key="PrinterPort" value="ESDPRT001" />
    <add key="PortMax" value="19" />
    <add key="CategoryWidth" value="75" />
    <add key="CategoryHeight" value="75" />
    <add key="ItemWidth" value="75" />
    <add key="ItemHeight" value="75" />
    <add key="CategoryImagePath" value="D:\Projects\POS\Source\POS\BIN\Debug\CategoryImage\" />
    <add key="ItemImagePath" value="D:\Projects\POS\Source\POS\BIN\Debug\ItemImage\" />
    <!-- 10-->
    <add key="ImageFontSize" value="7.0" />
    <add key="GeneralItemCode" value="0" />
    <add key="PrintEmptySpaceType" value="1" />
    <add key="ChrWeightItemBarcodeLength" value="13" />
    <add key="ChrWeightItemStrat" value="0" />
    <add key="ChrWeightItemLength" value="7" />
    <add key="ChrWeightPriceStart" value="7" />
    <add key="ChrWeightPriceLength" value="5" />
    <add key="CategoryHighlight" value="0" />
    <add key="BarcodeItemLength" value="15" />
    <!-- 20-->
    <add key="YSD" value="bcagcbaejaaa" />
    <add key="WeightItemQty" value="1" />
    <add key="ftpHostname" value="96.125.162.78" />
    <add key="ftpUsername" value="schonavb" />
    <add key="ftpPassword" value="353034303234323437373330373236343733333133323333b77a5c561934e000" />
    <add key="ftpCurrentDirectory" value="/public_html/DMS/Attachment/" />
    <add key="WAM_CountryCode" value="91" />
    <add key="WAM_Number" value="9522295253" />
    <add key="WAM_PaymentDue" value="Dear @CustomerName, \n\nYour total due balance is $ @Balance.\n\nRegards, \n*@CompanyName*" />
    <add key="WAM_PaymentReceipt" value="Dear @CustomerName, \n\nThankyou for visiting *@CompanyName*.\n\nWe have received @PaymentType payment of $ @Amount" />
    <!-- 30-->
    <!--<add key="WAM_CreditSale" value="Dear @CustomerName, \n\nThankyou for visiting *@CompanyName*.\n\nThere is a credit sale of $ @Amount \n\n Your total balance is $ @Balance" />-->
    <add key="WAM_CreditSale" value="" />
    <add key="WAM_InvoiceURL" value="https://www.schonglobal.com/DMS/Attachment/" />
    <add key="Sync" value="0" />
    <add key="SyncTimer" value="0" />
    <add key="ScriptExecuteDuration" value="0" />
    <add key="CurrentLocation" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="POSEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;
          data source=.\SQLEXPRESS;
          initial catalog=POS_EDEE;
          persist security info=True;
          user id=pos;
          password=pos;
          MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="POSEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;
          data source=.\SQLEXPRESS;
          initial catalog=POS;
          persist security info=True;
          user id=pos;
          password=pos;
          MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
    
  <runtime>
    <generatePublisherEvidence enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
   <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>


  
</configuration>