<?xml version="1.0" encoding="utf-8"?>
<configuration>

   
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
    
  <runtime>
    <generatePublisherEvidence enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
   <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>

  <appSettings>
    <add key="UpdateFilePath" value="D:\Projects\POS\Source\POS\BIN\Debug\UPDATE\" />
    <add key="CashdrawerPath" value="c:\escapes.txt" />
    <add key="PrinterPort" value="ESDPRT001" />
    <add key="PortMax" value="19" />
    <add key="CategoryWidth" value="75" />
    <add key="CategoryHeight" value="75" />
    <add key="ItemWidth" value="75" />
    <add key="ItemHeight" value="75" />
    <add key="CategoryImagePath" value="D:\Projects\POS\Source\POS\BIN\Debug\CategoryImage\" />
    <add key="ItemImagePath" value="D:\Projects\POS\Source\POS\BIN\Debug\ItemImage\" />
    <add key="ImageFontSize" value="7.0" />
    <add key="GeneralItemCode" value="17330" />
    <add key="PrintEmptySpaceType" value="1" />
    <add key="ChrWeightItemBarcodeLength" value="13" />
    <add key="ChrWeightItemStrat" value="0" />
    <add key="ChrWeightItemLength" value="7" />
    <add key="ChrWeightPriceStart" value="7" />
    <add key="ChrWeightPriceLength" value="5" />
    <add key="CategoryHighlight" value="5" />
    <add key="BarcodeItemLength" value="21" />
    <add key="YSD" value="abahcacbibaa" />
  </appSettings>

  <connectionStrings>
    <add name="POSEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      
          data source=.\SQLEXPRESS;
          initial catalog=POS_Harry;
          persist security info=True;
          user id=pos;
          password=pos;
  
          MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  
</configuration>